
.nav {
    
    align-items: center;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 4.0em;
    justify-content: space-between;
    text-transform: uppercase;
    padding-right: 50px;
    padding-left: 50px;
}
  

.items {
    display: flex;
    justify-content: space-between;
}

    div {
        margin: 0.7em;
    }

a {
    font-size: 1.3em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}


.container {
      display: flex;
      flex-direction: row;
      padding-left: 50px;
      padding-right: 50px;
      background-color: #fafafa;
  }

#containerleft {
    display: flex;
    flex-direction: row;
    padding-top: 125px;
    padding-right: 300px;
    padding-bottom: 30px;
    padding-left: 300px;
}

#headline {
    
    font-family: 'Roboto', sans-serif;
    background: transparent;
    font-size: xx-large;
    font-weight: 50;
    display: flex;
    padding-left: 200px;
    text-transform: capitalize;
    
}



#aboutme {
    font-size: large;
    padding-top: 5px;
    padding-right: 300px;
    font-family: 'Roboto', sans-serif;
    text-decoration: overline;
}


#triforce {
    padding-left: 0px;
    padding-top: 200px;

}

#containermiddle {
    display: flex;
    flex-direction: row;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;

}

#containerright {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}


li {

    padding-left: 75%;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    

}

 